<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('jet.jpg') %>);">
  <div class="container">
    <h1>jetNgo allows <strong>happy people</strong> to <strong>fly anywhere</strong>!</h1>
    <p>Go anywhere you want.</p>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" value="Search for a jet now" />
        <button name="button" type="submit" class="btn btn-flat btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
  </div>
</div>
