<div class="card-trip">
  <img src='https://unsplash.com/photos/xG2mO6FRCjQ' />
  <div class="card-trip-infos">
    <div>
      <h2>Jet</h2>
      <p>Private jet near airport BCN</p>
    </div>
    <h2 class="card-trip-pricing">10,099.9€</h2>
  </div>
</div>
