.mapboxgl-popup {
  max-width: 250px !important;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  border-radius: 10px !important;
}
.mapboxgl-popup-content p {
  margin-bottom: 8px;
  font-size: 16px;
}
