.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 48px;
  padding-right: 48px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-item {
  margin-left: 24px;
}
