<li><p><% review.rating.times { %> <i class="fas fa-star"></i> <% } %> - <%= review.content %>
  <%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure to delete this review?"} do %> <i class="far fa-trash-alt"></i> <% end %></p>
</li>
